{{#ifShowAvatars}}
  <td class="thin text-top">
    <div class="table-list-cell">
      {{avatarHelper email 36}}
    </div>
  </td>
{{/ifShowAvatars}}

<td class="text-top">
  <div class="table-list-cell">
    <div>
      <strong class="js-user-name">{{name}}</strong>
      <span class="js-user-login note little-spacer-left">{{login}}</span>
    </div>
    <div class="js-user-email little-spacer-top">{{email}}</div>
  </div>
</td>

<td class="thin text-top">
  <div class="table-list-cell">
    {{#notEmpty scmAccounts}}
      <ul>
        {{#each firstScmAccounts}}
          <li class="little-spacer-bottom nowrap">{{this}}</li>
        {{/each}}
        {{#gt moreScmAccountsCount 0}}
          <li class="little-spacer-bottom">
            <a class="js-user-more-scm nowrap" href="#">{{moreScmAccountsCount}} more</a>
          </li>
        {{/gt}}
      </ul>
    {{/notEmpty}}
  </div>
</td>

<td class="thin text-top">
  <div class="table-list-cell">
    <ul>
      {{#each firstGroups}}
        <li class="little-spacer-bottom nowrap">{{this}}</li>
      {{/each}}
      {{#gt moreGroupsCount 0}}
        <li>
          <a class="js-user-more-groups nowrap" href="#">{{moreGroupsCount}} more</a>
        </li>
      {{/gt}}
    </ul>
  </div>
</td>

<td class="thin nowrap text-top big-spacer-left">
  <div class="table-list-cell">
    <a class="js-user-groups icon-groups little-spacer-right" title="Update Groups" data-toggle="tooltip" href="#"></a>
    <a class="js-user-update icon-edit little-spacer-right" title="Update Details" data-toggle="tooltip" href="#"></a>
    <a class="js-user-change-password icon-lock little-spacer-right" title="Change Password" data-toggle="tooltip"
       href="#"></a>
    <a class="js-user-deactivate icon-delete" title="Deactivate" data-toggle="tooltip" href="#"></a>
  </div>
</td>
